.Rmain{
    margin-top: 40px;
}

.R_space{
	margin: 0 auto;
	border-radius: 10px;
	border-color: rgba(111, 104, 104, 0.251);
	height: 370px;
	max-width:800px;
	text-align: center;
}
.R_txt{
 -webkit-text-stroke: 1px;
 color: rgba(213, 140, 140, 0.8);
 margin-bottom: 20px;
 
}

.reservHJ{
	margin: 0 auto;
	padding:10px;
	max-width: 800px;
	display: flex;		
}
.reservHJ-inner{
	padding:20px;
	width:50%;
	height: 170px;
}
.r_radio{
	width: 25px; height: 25px;
	vertical-align:middle;
	margin: 5px;
	
}
.radio_btn{
	font-weight: 500;
	vertical-align:middle;
}
.R_box{
	margin-top: 40px;
}
.R_name{
    font-size: 17px;
	font-weight: 500;
}
.R_name2{
	border-radius: 10px;
	width: 500px;
	height: 30px;
	font-size: 15px;
  	padding-bottom: 10px;
  	text-align: center;
  	background: none;
  	z-index: 5;
}
.R_box2{
	margin: 10px;
}
.R_phone{
    font-size: 17px;
	font-weight: 500;
}
.R_phone2{
	border-radius: 10px;
    width: 500px;
	height: 30px;
	font-size: 15px;
  	padding-bottom: 10px;
  	text-align: center;
  	background: none;
  	z-index: 5;
}

/* 확인해주세요(설명칸) */

.R_check{
	text-align:center;
	margin: 40px;
}
.R_checktxt1{
	font-size: 35px;
	font-weight: 500;
	color: rgba(215, 132, 132, 0.8);
	margin: 40px;
}
.R_checktxt2{
	margin: 20px;
	list-style: none;
}
.R_checktxt3{
	margin: 15px;
	font-size: 18px;
	color: rgba(199, 150, 150, 0.8);
}

/* 버튼 */

.R_btn{
	text-align: center;
	margin-top: 7%;
}
.R_btn2{
	background-color:#ffa895f9;
	border-radius:20px;
	border:2px solid #ffa895f9;
	display:inline-block;
	cursor:pointer;
	color:#ffffffdc;
	font-size:20px;
	text-decoration:none;
	width: 145px;
	height: 50px;
	font-weight: 700;
}
.R_btn2:hover{
    background-color:#fffeff;
    color: rgba(230, 151, 151, 0.981);
}
.R_btn2:active{
    background-color: #fffeffd6;
    color: rgba(230, 151, 151, 0.752);
}